
@{
    ViewBag.Title = "executive";
}

<h3>Welcome @Session["userid"]</h3>

@*<table>

    <tr>
        <td>


        </td>

    </tr>

</table>*@


<div class="navbar-collapse collapse">
    <table style="font-size:medium">
        <tr><td>@Html.ActionLink("Create Customer", "Index", "customercreate")</td></tr>
        <tr><td>@Html.ActionLink("Update Customer Details", "Index", "CUStomer")</td></tr>
        <tr><td>@Html.ActionLink("Show All Customers", "showallcustomer1", "viewallcustomer1")</td></tr>
        <tr><td>@Html.ActionLink("Show Customer By Id", "Index", "showcustomer")</td></tr>
        <tr><td>@Html.ActionLink("Delete Customer", "delcusdetails", "delcus")</td></tr>
        <tr><td>@Html.ActionLink("Create Account", "Index", "createaccount")</td></tr>
        <tr><td>@Html.ActionLink("Delete Account", "deleteaccount", "DeleteAccount2")</td></tr>
        <tr><td>@Html.ActionLink("View Account Details ", "showaccountbyid", "viewallcustomer1")</td></tr>
        <tr><td>@Html.ActionLink("Get Branch Location ", "Index", "Map")</td></tr>
    </table>
    
</div>